<html xmlns:th="http://www.thymeleaf.org">

<nav id="loggedin" class="navbar navbar-expand-lg navbar-dark bg-dark grads" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{~/}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About us</a>
            <a class="nav-item nav-link" href="/winners">Winners</a>
            <a class="nav-item nav-link" href="/help">Help</a>
        </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="signOut()">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<nav id="loggedout" class="navbar navbar-expand-lg navbar-dark bg-dark grads" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{~/}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About us</a>
            <a class="nav-item nav-link" href="/winners">Winners</a>
            <a class="nav-item nav-link" href="/help">Help</a>
        </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/login}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{~/signup}" >Sign up</a>
            </li>
        </ul>
    </div>
    <script>
        if(localStorage.getItem("token") != null) {
            $("#loggedin").show();
            $("#loggedout").hide();
        } else {
            $("#loggedin").hide();
            $("#Loggedout").show();
        }
        function signOut() {
            localStorage.removeItem("token");
            localStorage.removeItem("username");
            window.location.href = "/";
        }
    </script>
</nav>
