body {
    background-color: white;
    font-family: 'Rubik',sans-serif;
}
.grads {
    background-image: linear-gradient(to right top, #008f7a, #44ac7c, #7ac878, #b6e272, #f9f871);
}

#home {
    background-color: #e5e5e5;
}

h1 {
    font-weight: 700;
}


.count-down {
    color: #ED4337;
    font-size: 25px;
    font-weight: 700;
}


.round-user-75 {
    background: #C4C4C4;
    width: 75px;
    border-radius: 50%;
}

.round-user-50 {
    background: #C4C4C4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#rcorners1 {
    border-radius: 25px;
    background: #fefefe;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sign-up {
    border-radius: 25px;
    background: #fefefe;
    padding: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sign-in {
    border-radius: 25px;
    background: #fefefe;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bold-text {
    font-weight: 700;
}

.color-user {
    color: black;
}

.text-money {
    color: #008F7A;
    font-size: 30px;
}

.btn-go {
    background-color: transparent;
    border-color: #ffffff;
    padding: .7rem 1rem;
}

.fa-star {
    color: black;
}

.go-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about h2 {
    font-weight: 300;
}

.about-section{
    padding-top:7rem;
}

.about-section2{
    padding-top:100px;
    padding-bottom: 200px;
}

.mission{
    padding-top: 100px;
    padding-bottom: 100px;
}

.font-color{
    color: #008f7a;
}

.font-color2{
    color: white;
}

.font-color3{
    color: #2eb905;
}

.hover08 figure img {
    width:100%;
    padding-top: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.textoverimg {
    position: relative;
    font-size:2rem;
    text-align: center;
    color: white;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.textoverimg:hover{
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myFooter {
    background-color: #1A1A1A;
    color: white;
    padding-top: 40px;
}

#myFooter .row {
    margin-bottom: 0px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #F56462;
}


.round-user-big {
    background: #C4C4C4;
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

#profile-name {
    font-size: 90px;
}

#border-green {
    background-color: #85EFAB;
}

.p-05 {
    padding-top: 0.7px;
    padding-bottom: 0.7px;
}

.count-user {
    font-size: 17px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.help-style {
    background-image: linear-gradient(to bottom, rgba(0,143,122,0.75), rgba(105,200,142,0.75));
}

#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.fa-star {
    color: #FEFC17;
}