<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <title>About Us | Go-Lelang</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" id="about">
    <div class="container-fluid row">
        <div class="col-4 about-section">
            <img class="d-block w-100" th:src="@{/media/basic.jpg}"/>
        </div>
        <div class="col-6 about-section2">
            <h1 class="font-color">What is Go Lelang?</h1>
            <h2>An ultimate platform which is intended for auctions. Bringing together a lot of awesome Stuff Especially For You.</h2>
        </div>
    </div>
</div>

<div class="container-fluid text-center mission font-color2 grads">
    <h1>Our Mission</h1>
    <h1>"To Make auction open to anyone, anywhere."</h1>
</div>

<!-- OUR VALUES -->
<section class="about-section2 text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto about-section2 font-color">
                <h1 class="mb-4 "><strong>The Values of Our Greatest Platform</strong></h1>
                <div class="hover08 column">
                    <div class="row">
                         <div class="col-sm-4 textoverimg">
                             <figure><img th:src="@{/media/thumb.jpg}"></figure>
                             <div class="centered"><strong>HIGH QUALITY ITEM</strong></div>
                         </div>

                         <div class="col-sm-4 textoverimg">
                             <figure><img th:src="@{/media/trust.jpg}"></figure>
                             <div class="centered"><strong>TRUSTED</strong></div>
                         </div>

                         <div class="col-sm-4 textoverimg">
                             <figure><img th:src="@{/media/fair.jpg}"></figure>
                             <div class="centered"><strong>FAIR AND HONESTY</strong></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

<div th:replace="fragments/footer :: footer"></div>
