<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
          crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

  <link rel="stylesheet" th:href="@{../css/index.css}"/>
  <title>Help | Go-Lelang</title>
</head>


<body>
<div th:replace="fragments/header :: header"></div>
<div class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mr-auto order-2 order-md-1"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-mobile.svg"> </div>
      <div class="px-md-5 p-3 d-flex flex-column align-items-start justify-content-center col-md-7 order-1 order-md-2">
        <div class="font-color">
          <h1> "Auctions are fun.&nbsp;<br></h1>
          <h1>&nbsp;Get Ready, Set, Run!<br></h1>
        </div>
        <p class="mb-3 lead">You have a good choice. Don't worry. We are here to help you have your dream items come true.</p>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-lg-10">
        <div class="font-color">
          <h1>HOW GO-LELANG WORKS</h1>
        </div>
        <p class="mb-3 mx-auto w-75 lead" contenteditable="true">"Bid, Win, Save!"</p>
        <div class="row">
          <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fas fa-hand-holding-usd fa-4x mb-3" style="font-size:60px;color:#228c7c;"></i>
            <h5><b>#1</b> </h5>
            <p class="mb-3">Each bid raises the price according to bidder's wishes. But, just the bid that have bigger amount that can take place on highest Bidder.</p>
          </div>
          <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fas fa-unlock-alt fa-4x mb-3" style="font-size:60px;color:#228c7c;"></i>
            <h5><b>#2</b> </h5>
            <p class="mb-3">The auction will be opened and closed at the specified time. You can find it in the homepage Go-Lelang.</p>
          </div>
          <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fas fa-user-clock fa-4x mb-3" style="font-size:60px;color:#228c7c;"></i>
            <h5><b>#3</b> </h5>
            <p class="mb-3">After the clock runs out, the last bidder win!</p>
          </div>
          <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fas fa-shopping-cart fa-4x mb-3" style="font-size:60px;color:#228c7c;"></i>
            <h5><b>#4</b> </h5>
            <p class="mb-3">The winner can take the item after complete the payment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0,143,122,0.75), rgba(105,200,142,0.75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-light mb-4">HOW TO BID IN AUCTION</h1>
      </div>
    </div>
    <div class="row text-dark">
      <div class="col-lg-4 p-3">
        <div class="card text-center">
          <div class="card-body p-4">
            <h3>#1</h3>
            <p class="my-3 lead">Find the product that you like in homepage. click Go-Lelang button. Don't forget to login first!<br><br></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4">
            <h3>#2</h3>
            <p class="my-3 lead">Click "Join the Bid" button. Place your amount bid. If you enter the higher amount, your name will be displayed at Current Highest Bidder.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4">
            <h3 contenteditable="true">#3</h3>
            <p class="my-3 lead">After certain time, the auction will be closed and announce the winner.&nbsp;<br><br>So, Let's make the bid!&nbsp;<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="font-color">
          <h1 class="mb-4">TIPS AND TRICK</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 py-md-4 px-4 order-1 order-lg-1 text-lg-right d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-coins mb-1 fa-2x" style="color:#228c7c;"></i>
            <p class="lead mb-1"> You have budget?</p>
            <p>You can try to bid on less-popular product, there will likely be less competitor.&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-eye mb-1 fa-2x" style="color:#228c7c;"></i>
            <p class="lead mb-1"> <b>Learn Characteristic of the Auction</b></p>
            <p>Watch and learn. Some people keep a note to track the information of their competitor.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-calendar-check mb-1 fa-2x" style="color:#228c7c;"></i>
            <p class="lead mb-1"> <b>Check the started date</b></p>
            <p>Save the date&nbsp;<br>and just login before&nbsp;<br>the auction get started.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mx-auto order-3 order-lg-2"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-mobile.svg"> </div>
      <div class="col-lg-3 col-md-6 py-md-4 px-4 order-2 order-lg-3 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-clock mb-1 fa-2x" style="color:#228c7c;"></i>
            <p class="lead mb-1"> <b>Try different times</b></p>
            <p>Auction might be easier to win at different times. Good luck!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-user-check mb-1 fa-2x fa-circle-o" style="color:#228c7c;"></i>
            <p class="lead mb-1">Be the Wise Bidder</p>
            <p>Bid Strategically. So you can get items that you really want.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="d-block fas fa-trophy mb-1 fa-2x" style="color:#228c7c;"></i>
            <p class="lead mb-1">Check out the Winners</p>
            <p>Page winner will be reveals won items and winner's testimoni.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center mission font-color2 help-style">
  <h1>"Auction Won. Dreams Go On."</h1>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="font-color">
          <h1 contenteditable="true"><i class="fas fa-dollar-sign fa-4x mb-3" style="font-size:60px;color:#228c7c;"></i> PAYMENTS</h1>
        </div>
      </div>
    </div>
    <div class="row" style="">
      <div class="mx-auto col-lg-6 col-md-8">
        <ul>
          <li class="mb-2">
            <p class="lead mb-1">Payments Method</p>You can pay by credit card, debit card, or via PayPal. We accept Mandiri Bank, BNI, BRI, Jenius, BRI Junior, etc. You can also pay in the alfamart and indomart.
          </li>
          <li class="mb-2">
            <p class="lead mb-1">Do I have to Pay Sales Tax?</p>Sales Tax on all physical items purchased from Go-Lelang is based on the price and for the auction wins the tax is based on the final auction price.&nbsp;
          </li>
          <li class="mb-2" style="">
            <p class="lead mb-1">Can' t finish a payment?</p><b>If you receive an error message when making a payment, try making the payment again. You may have a slight error when entering the billing zip code.&nbsp;</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

