<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <script rel="stylesheet" th:href="@{../js/index.js}"></script>
    <title>Go-Lelang</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container-fluid" id="home">
        <div class="row">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img class="d-block w-100" alt="second slide" th:src="@{/media/home.jpg}"/>
                    </div>

                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="container" id="content-program">
                <div id="loader">
                    <img th:src="@{../media/index.money-coin-palette-color-preloader.svg}">
                </div>
            </div>
            <div class="row" id="all-barang-lelang">

                </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script>
        // === countdown function starts here ===
        // Set the date we're counting down to
        var finishedFlag = false;
        function countDownProgram(waktu, idBarang) {
            var countDownDate = new Date(waktu).getTime();

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                var ret = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";
                var idnya = "count-down-" + idBarang;
                document.getElementById(idnya).innerHTML = ret;
                // If the count down is finished, write some text
                if (distance < 0) {
                    finishedFlag = true;
                    document.getElementById(idnya).innerHTML = "EXPIRED";
                }
            }, 1000);
        }
        // === count down ends here ===


        $(document).ready(function() {

            $.ajax({
                url:"https://microservice-barang.herokuapp.com/api/barang_lelang/all/false",
                method: 'GET',
                dataType: 'json',
                beforeSend: function() {
                    $("#loader").show();
                },
                success: function(data){
                    $("#loader").hide();
                    for(i = 0; i< data.length; i++) {
                        var card = "<div class=\"col-4\"><div class=\"card go-card\"><img class=\"card-img-top\" src=\""+ data[i].urlFoto+"\"alt=\"Card image cap\"><div class=\"card-body\"><div class=\"row\"><div class=\"col-12\"><h6 id = \"count-down-" + data[i].idBarangLelang + "\"class=\"count-down\"></h6></div></div><div class=\"row\"><div class=\"col-12\"><h3 class=\"bold-text\">"+ data[i].namaBarang+"</h3></div></div><div class=\"row\"><div class=\"col-6\"> <h6>Current Highest Bid</h6></div><div class=\"col-6\"><h6 class=\"bold-text text-money\">$" + data[i].currentBid +"K</h6></div></div></div></div><div class=\"row\"><div class=\"col-12 my-3\"><a href=\"/program/?id=" + data[i].idBarangLelang + "\"><button type=\"button\" class=\"btn btn-primary btn-lg btn-block grads btn-go bold-text\">GO-LELANG</button></a></div></div></div>"
                        $("#all-barang-lelang").append(card);
                        countDownProgram(data[i].barangLelangEndDate, data[i].idBarangLelang);
                        if (finishedFlag) {
                            var postToAPI = {'idBarangLelang' : data[i].idBarangLelang, 'namaBarang': data[i].namaBarang, 'highestBidder': data[i].highestBidder, 'currentBid': data[i].currentBid, 'finished': finishedFlag, 'urlFoto': data[i].urlFoto, 'barangLelangStartDate': data[i].barangLelangStartDate, 'barangLelangEndDate': data[i].barangLelangEndDate};
                            $.ajax({
                                url:"https://microservice-barang.herokuapp.com/api/barang_lelang" ,
                                method:'POST',
                                data: JSON.stringify(postToAPI),
                                success: function (data) {
                                    console.log("yak bisa")
                                }, error: function (jqXHR, textStatus, errorThrown) {
                                    console.log("huhu gbs")
                                }
                            });
                            finishedFlag = false;
                        }
                    }

                },
            });
        });
    </script>
</body>