<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Go-Lelang</title>
</head>
<body>
<h1>
    Hello there! I'm running.
</h1>
<span id="results"></span>

<form >
    <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" id="userName">
        <span id="errorUser"></span>
    </div>

    <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" class="form-control" id="name">
        <span id="errorName"></span>
    </div>

    <div class="form-group">
        <label for="biodata">Biodata :</label>
        <input type="text" class="form-control" id="biodata">
    </div>

    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
        <span id="errorEmail"></span>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
        <span id="errorPassword"></span>
    </div>

    <button id="test" type="submit" class="btn btn-primary">Submit</button>
</form>

</body>

<script>
    $.ajax({
        url: "http://localhost:8080/api/user/all",
        dataType: "text",
        success: function (data) {
            var json = $.parseJSON(data);

            console.log(json);
            for (var i=0;i<json.length;++i)
            {
                $('#results').append(
                    '<h2>Username : </h2>'+
                    '<div class="userName">'+json[i].userName+'</>'+ '</br>'+
                    '<h2>Name : </h2>'+
                    '<div class="name">'+json[i].name+'</>'+ '</br>'+
                    '<h2>Email : </h2>'+
                    '<div class="email">'+json[i].email+'</>'+ '</br>'+
                    '<h2>Join date : </h2>'+
                    '<div class="joinDate">'+json[i].joinDate+'</>'+ '</br>'+
                    '<h2>Biodata : </h2>'+
                    '<div class="biodata">'+json[i].biodata+'</>'+'</br>'+'</br>'
                    +'</br>'+'</br>'+'</br>'+'</br>'
                );
            }
        }
    });


</script>

<script>
    $("#test").click(function (e) {
        e.preventDefault();

        var dat = {
            "userName": $('#userName').val(),
            "name": $('#name').val(),
            "email": $('#email').val(),
            "biodata": $('#biodata').val(),
            "password": $("#password").val()
        };

        $.ajax({
            type: "POST",
            method:"post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/api/user/",
            data: JSON.stringify(dat),
            dataType: 'JSON',
            cache: false
        })
            .done(function () {
                alert("success")
                window.location.reload();
            })
            .fail(function (request) {
                // alert(request.responseText);
                var obj = JSON.parse(request.responseText);
                $('#errorUser').html("");
                $('#errorName').html("");
                $('#errorPassword').html("");
                $('#errorEmail').html("");

                $('#errorUser').html(obj.userName);
                $('#errorUser').html(obj.primaryKey);
                $('#errorName').html(obj.name);
                $('#errorPassword').html(obj.password);
                $('#errorEmail').html(obj.email);

            });
    });

</script>
</html>
