<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <title>Go-Lelang</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" id="content">
    <div id="loader">
        <img th:src="@{../media/index.money-coin-palette-color-preloader.svg}">
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script>
    var token = localStorage.getItem("token");
    jQuery.support.cors = true;
    $.ajax({
        url:"https://auth-lelang.herokuapp.com/api/profile",
        headers: {"x-auth-token": token, "Access-Control-Allow-Origin": "*", 'Postman-Token': "ce018faa-f39c-c751-4133-f961d7e3f34a", 'Cache-Control': 'no-cache'},
        method: 'GET',
        dataType: 'json',
        beforeSend: function (xhr) {
           // xhr.setRequestHeader('x-auth-token', token)
            $("#loader").show()
        },
        success: function(data){
            var card = "<div class=\"row\"><div class=\"col-3\"><img class=\"img-fluid round-user-big my-3\"src=\""+ data.avaUser + "\"></div><div class=\"col-8 mt-3\"><h4>Hello,</h4><h1 class=\"bold-text\" id=\"profile-name\">"+ data.username +"</h1><p id=\"profile-bio\">"+data.bio +"</p><div class=\"row\"><div class=\"col-1 pr-0\"><i class=\"fas fa-calendar-alt\"></i></div><div class=\"col-11 pl-0\"><p>Member since <span class=\"bold-text\">"+ data.joinedAt+"</span></p></div></div><div class=\"row\"><div class=\"col-12 p-05\" id=\"border-green\"></div></div><div class=\"row my-3\"><div class=\"col-12\"><h3 class=\"bold-text\">BID YOU JOINED</h3><table class=\"table table-bordered\"><thead><tr><th scope=\"col\">No</th><th scope=\"col\">Timestamp</th><th scope=\"col\">Bid Goods</th><th scope=\"col\">Bid Price</th></tr></thead><tbody id=\"lelangjoined\"></tbody></table></div></div></div></div>"
            $("#loader").hide();
            $("#content").append(card);
            getBids();
        },
        error: function() {
            console.log(localStorage.getItem("token"))
        }

    });

    function getBids() {
        $.ajax({
            url:"https://microservice-barang.herokuapp.com/api/barang_lelang/user/" + localStorage.getItem("username"),
            method: "GET",
            dataType: "json",
            success: function(data) {
                for (i=0; i < data.length; i++) {
                    var count = i +1;
                    var card = "<tr><th scope=\"row\">"+ count +"</th><td>"+ data[i].timestamp+"</td><td>"+data[i].namaBarangFK+"</td><td>"+data[i].userBid + "</td></tr>";
                    $("#lelangjoined").append(card);
                }
            }
        })
    }
</script>
</body>
