<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <title>Go-Lelang</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container" id="content-program">
        <div id="loader">
            <img th:src="@{../media/index.money-coin-palette-color-preloader.svg}">
        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>
<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var id_barang_lelang = url.searchParams.get("id");
    var namaBarang = "";
    // === countdown function starts here ===
    // Set the date we're counting down to
    function countDownProgram(waktu, idBarang) {
        var countDownDate = new Date(waktu).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            var ret = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";
            var idnya = "count-down-" + idBarang;
            document.getElementById(idnya).innerHTML = ret;
            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById(idnya).innerHTML = "EXPIRED";
            }
        }, 1000);
    }
    // === count down ends here ===
    function changeForm() {

        var highestBid = $(".text-money").text();
        $("#change").empty();
        var change = "<div class=\"col-12\" id=\"rcorners1\"><h5 class=\"bold-text\">Current Highest Bid Price</h5><div class=\"text-center\"><h6 class=\"text-money bold-text\">"+ highestBid +"</h6><form><div class=\"form-group\"><label for=\"bidPrice\">Your Bid</label><input type=\"text\" class=\"form-control\" id=\"bidPrice\" aria-describedby=\"bidHelp\"><small id=\"bidHelp\" class=\"form-text text-muted\">Enter price more than the current highest bid price.</small></div></form></div></div><div class=\"row\"><div class=\"col-12 py-3\"><button type=\"button\" class=\"btn btn-primary btn-lg btn-block grads btn-go bold-text\" onclick=\"postBid()\">PLACE YOUR BID</button></div></div>"
        $("#change").append(change);

    }

    function postBid() {
         var bidPlaced = $("#bidPrice").val();
         var userBidding = localStorage.getItem("username");
         console.log(userBidding);
         var postToAPI = {'namaBarangFK': namaBarang, 'userNameFK': userBidding, 'idBarangLelang': id_barang_lelang, 'userBid': bidPlaced};
        $.ajax({
            url:"https://microservice-barang.herokuapp.com/api/barang_lelang/user_to_barang/",
            method:'POST',
            data: JSON.stringify(postToAPI) ,
            contentType: 'application/json',
            success: function(result) {
                $.ajax({
                    url:"https://microservice-barang.herokuapp.com/api/barang_lelang/" + id_barang_lelang,
                    method: 'GET',
                    dataType: 'json',

                    success: function(data){
                        swal("Yey!", "Congratulation, you are the current highest bidder!", "success");
                        $("#change").empty();
                        var card = "<div class=\"col-12\" id=\"rcorners1\"><h5 class=\"bold-text\">Current Highest Bidder</h5><div class=\"text-center\"><div class=\"row\"><div class=\"col-4\"></div><div class=\"col-4\"><img class=\"img-fluid round-user-75 my-3\" src=\"https://fakeimg.pl/75/\"></div><div class=\"col-4\"></div></div><h5 class=\"bold-text\">"+ data.highestBidder +"</h5><h6 class=\"text-money bold-text\">"+ data.currentBid +"</h6></div></div><div class=\"row\"><div class=\"col-12 py-3\"><button type=\"button\" class=\"btn btn-primary btn-lg btn-block grads btn-go bold-text\" onclick=\"changeForm()\">JOIN THE BID</button></div></div>"
                        $("#change").append(card);
                        if (!localStorage.getItem("token")) {
                            $("button").attr("disabled", true);
                        }
                    },

                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                swal( "Error" ,  "Something's wrong" ,  "error" )
                console.log(postToAPI);
            }
        });

    }
    $(document).ready(function() {

        $.ajax({
            url:"https://microservice-barang.herokuapp.com/api/barang_lelang/" + id_barang_lelang,
            method: 'GET',
            dataType: 'json',
            beforeSend: function() {
                $("#loader").show()
            },
            success: function(data){
                    var card = "<div class=\"row\"><div class=\"col-4 mt-3\"><img src=\"" + data.urlFoto + "\" class=\"img-fluid\"><div class=\"row\"><div id=\"change\"><div class=\"col-12\" id=\"rcorners1\"><h5 class=\"bold-text\">Current Highest Bidder</h5><div class=\"text-center\"><div class=\"row\"><div class=\"col-4\"></div><div class=\"col-4\"><img class=\"img-fluid round-user-75 my-3\"src=\"https://fakeimg.pl/75/\"></div><div class=\"col-4\"></div></div><h5 class=\"bold-text\">"+ data.highestBidder +"</h5><h6 class=\"text-money bold-text\">$" + data.currentBid +"</h6></div></div><div class=\"row\"><div class=\"col-12 py-3\"><button type=\"button\" class=\"btn btn-primary btn-lg btn-block grads btn-go bold-text\" onclick=\"changeForm()\">JOIN THE BID</button></div></div></div></div></div><div class=\"col-6 pt-5\"><h1>"+ data.namaBarang +"</h1><h6>TIME LEFT   <span class=\"count-down\" id = \"count-down-" + id_barang_lelang +"\"></span> </h6><h3 class=\"bold-text\">DESCRIPTION</h3><p>There is no description for this program</p><div id=\"review\"></div>"
                    $("#loader").hide();
                    $("#content-program").append(card);
                    countDownProgram(data.barangLelangEndDate, data.idBarangLelang);

                    namaBarang = data.namaBarang;
                if (!localStorage.getItem("token")) {
                    $("button").attr("disabled", true);
                }
            },
            async: false

        });

        $.ajax({
            url:"https://microservice-barang.herokuapp.com/api/review/show/" + namaBarang,
            method: 'GET',
            dataType: 'json',

            success: function(data) {

                for (i = 0; i < data.length; i++) {
                    var result = "<h3 class=\"bold-text\">REVIEW</h3><div class=\"media\"><img class=\"img-fluid round-user-50 mx-3\"src=\"https://fakeimg.pl/50/\"><div class=\"media-body\"><h5 class=\"mt-0 bold-text\">"+data[i].userName +"</h5><div class=\"row\"><div class=\"col-7\"></div>"
                    for (j = 0 ; j< data[i].rating; j++) {
                        result = result + "<i class=\"fas fa-star\"></i>";
                    }
                    result = result + "</div>" + data[i].pesan + "</div></div></div></div>"
                    $("#review").append(result);
                }

            }
        });
    });
</script>
</body>