<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <script rel="stylesheet" th:href="@{../js/index.js}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Go-Lelang</title>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 py-5">
            <form id="sign-up">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="userNameField" >Username</label>
                    <input type="email" class="form-control" id="userNameField" placeholder="adpro19" name="username">
                </div>
                <div class="form-group">
                    <label for="bioField" >Bio</label>
                    <input type="email" class="form-control" id="bioField" placeholder="ex: I'm iron man" name="bio">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block grads btn-go bold-text" onclick="submitNewUser()">Sign Up</button>
            </form>
        </div>
        <div class="col-4 pt-5">
            <div class="text-right">
                <h1>Sign Up</h1>
                <p>Join Go Lelang and win awesome stuffs with the best price</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script>
    function submitNewUser() {
        var dataUser = {'username':$("#userNameField").val(), 'bio': $("#bioField").val(), 'email': $("#email").val(), 'password':$("#password").val()};
        $.ajax({
            url:"https://auth-lelang.herokuapp.com/register",
            method:'POST',
            data: JSON.stringify(dataUser) ,
            contentType: 'application/json',
            success: function(result) {
                window.location.href = "/login";
            },
            error: function(jqXHR, textStatus, errorThrown) {
                swal( "Error" ,  "Something's wrong" ,  "error" )
                console.log(dataUser);
            }
        });
    }


</script>
</body>