<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{../css/index.css}"/>
    <title>Winners | Go-Lelang</title>
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div id = "content" class="container about-section mission">
    </div>
    <div th:replace="fragments/footer :: footer"></div>
<script>
    $(document).ready(function() {

        $.ajax({
            url:"https://microservice-barang.herokuapp.com/api/barang_lelang/all/true",
            method: 'GET',
            dataType: 'json',
            beforeSend: function() {
                $("#loader").show();
            },
            success: function(data){
                $("#loader").hide();
                if (data.length == 0) {
                    var result = "<div class=\"row\"><div class=\"col-4\" ><img  th:src=\"@{../media/basic.jpg}\" class=\"img-fluid\"></div><div class=\"col-6 pt-5\"><h3 class=\"bold-text\">Sorry, there are no winners yet.</h3><p>Let's make a bid and be the first winner!</p></div></div>";
                    $("#content").append(result);
                } else {
                    for(i = 0; i< data.length; i++) {
                        var card = "<div class=\"col-4\"><div class=\"card go-card\"><img class=\"card-img-top\" src=\""+ data[i].urlFoto+"\"alt=\"Card image cap\"><div class=\"card-body\"><div class=\"row\"><div class=\"col-12\"></div></div><div class=\"row\"><div class=\"col-12\"><h3 class=\"bold-text\">"+ data[i].namaBarang+"</h3></div></div><div class=\"row\"><div class=\"col-6\"> <h6>Final Price</h6></div><div class=\"col-6\"><h6 class=\"bold-text text-money\">$" + data[i].currentBid +"K</h6></div></div></div></div></div>"
                        $("#content").append(card);
                    }
                }


            }
        });
    });
</script>
</body>